
element-control-asset {
    line-height: 0px;
}

.element-bar-resize-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 100%;
    cursor: ew-resize;
}

.element-bar-resize-right {
    position: absolute;
    top: 50%;
    right: 0rem; 
    transform: translateY(-50%);
    width: 0.8rem;
    height: 100%;
    cursor: ew-resize;
}




.element-bar-hiddenspace-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0rem;
    height: 100%;
    background-color: #00000081;
}

.element-bar-hiddenspace-right {
    position: absolute;
    top: 50%;
    right: 0rem; 
    transform: translateY(-50%);
    width: 0rem;
    height: 100%;
    background-color: #00000081;

}




.element-bar-resize-hiddenspace-left {
    position: absolute;
    top: 50%;
    right: -0.5rem; 
    transform: translateY(-50%);
    width: 0.8rem;
    height: 100%;
    cursor: ew-resize;
}

.element-bar-resize-hiddenspace-right {
    position: absolute;
    top: 0;
    left: -0.5rem;
    width: 0.8rem;
    height: 100%;
    cursor: ew-resize;
}

.element-bar {
    position: relative;
    margin-bottom: 0.3rem;
    background-color: #495057;
    color: #ffffffc2;
    padding: 0.3rem;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}


.element-image {
    width: 100%;
    height: 100%;
    cursor: grab !important;

}

.element-video {
    width: 100%;
    height: 100%;
    cursor: grab !important;
    object-fit: inherit;
}

.element-text {
    width: 100%;
    height: 100%;
    cursor: grab !important;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.element-drag {
    position: absolute;
    cursor: grab !important;
    bottom: auto;
    right: auto;
}


.element-outline {
    outline: 1px dashed #ffffff;
}


.element-drag.element-outline > .resize-nw,
.element-drag.element-outline > .resize-ne,
.element-drag.element-outline > .resize-sw,
.element-drag.element-outline > .resize-se  {
    background-color: #ffffffbc;
}




$alignment-guide-thickness: 1px;
$alignment-guide-color: #ffffff;


.alignment-guide {
    position: absolute;
}

.alignment-guide-top {
    top: 0px;
    width: 100%;
    height: $alignment-guide-thickness;
    background-color: $alignment-guide-color;

}

.alignment-guide-bottom {
    top: 100%;
    width: 100%;
    height: $alignment-guide-thickness;
    background-color: $alignment-guide-color;

}

.alignment-guide-left {
    top: 0px;
    left: 0px;
    width: $alignment-guide-thickness;;
    height: 100%;
    background-color: $alignment-guide-color;

}

.alignment-guide-right {
    top: 0px;
    left: 100%;
    width: $alignment-guide-thickness;;
    height: 100%;
    background-color: $alignment-guide-color;

}

.alignment-guide-horizontal {
    top: 50%;
    left: -50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: $alignment-guide-thickness;
    background-color: $alignment-guide-color;
}

.alignment-guide-vertical {
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
    width: $alignment-guide-thickness;
    height: 100%;
    background-color: $alignment-guide-color;
}

.handle-rotate {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -1.3rem;
    left: 50%;
    background-color: #49505700;
    border-radius: 4rem;
    transform: translateX(-50%);
}

.handle-rotate-icon {
    color: #ffffff00;
    font-size: 1rem;

}

.element-drag.element-outline > .handle-rotate {
    background-color: #495057;
    color: #ffffff;
    border-radius: 4rem;

}

.element-drag.element-outline .handle-rotate-icon  {
    color: #ffffff;

}