.asset:hover > .text-ellipsis-scroll  {
    width: 750%;
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 5s infinite linear;
    padding-left: 220%; 
}

.asset {
    padding: .5rem;
}

.asset:hover {
    background-color: #2a3036;
    border-radius: 12px;
}

.asset-preview {
    max-width: 55px;
    max-height: 55px;
}

.asset-transparent {
    background-color: transparent;
    outline: 0;
    border: none;
    margin: 0px;
}

.icon-center {
    left: 25%;
    top: 10%;
}