name: e2echat
on: 
  pull_request:
    branches: ['main']
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build:win

